node_modules/
public/js
out/
dist/
.clj-kondo/
.lsp/

/target
/checkouts
/src/gen
/src/js_gen/tests

package-lock.json
report.html
pom.xml
pom.xml.asc
*.iml
*.jar
*.log
*.orig
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store
.calva

.hgignore
.hg/
