{:paths ["src/main"]
 :deps {datascript/datascript {:mvn/version "1.0.7"}
        reagent/reagent {:mvn/version "1.0.0-alpha2"}
        inflections/inflections {:mvn/version "0.13.2"}
        io.homebase/datalog-console {:mvn/version "0.3.2"}
        nano-id/nano-id {:mvn/version "1.0.0"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.2"}}
 :aliases {:dev {:extra-paths ["src/dev" "src/test"]
                 :extra-deps {thheller/shadow-cljs {:mvn/version "2.11.25"}
                              devcards/devcards {:mvn/version "0.2.7"}
                              binaryage/devtools {:mvn/version "1.0.2"}}}
           :jar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
                 :exec-fn hf.depstar/jar
                 :exec-args {:jar "homebase-react.jar" :sync-pom true}}
           :install {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
                     :exec-fn deps-deploy.deps-deploy/deploy
                     :exec-args {:installer :local :artifact "homebase-react.jar"}}
           :deploy {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
                    :exec-fn deps-deploy.deps-deploy/deploy
                    :exec-args {:installer :remote :artifact "homebase-react.jar"}}}}
