;; shadow-cljs configuration
{:deps true
 :dev-http {3000 "public"}
 :nrepl {:port 3333}
 :builds
 {:dev {:target :browser
        :output-dir "public/js"
        :asset-path "/js"
        :compiler-options {:devcards :true
                           :output-feature-set :es6}
        :modules {:main {:init-fn dev.example.core/init}}
        :js-options {:resolve {"devcards-marked" {:target :npm :require "marked"}
                               "devcards-syntax-highlighter" {:target :npm :require "highlight.js"}}}}
  :test {:target :node-test
         :output-to "out/node-tests.js"
         :ns-regexp "-test$"
         :autorun false}
  :test-autorun {:target :node-test
                 :output-to "out/node-tests.js"
                 :ns-regexp "-test$"
                 :autorun true}
  :npm {:target :npm-module
        :output-dir "dist/js"
        :entries [homebase.react]
        :compiler-options {:optimizations :advanced
                           :externs ["datascript/externs.js"]
                           :pseudo-names false
                           :pretty-print false
                           :output-wrapper false
                           :source-map false}}}}
