;; shadow-cljs configuration
{
;;  :deps true
 
 :source-paths
 ["src"]

 :dependencies
 [[devcards "0.2.7"]
  [datascript "1.0.1"]
  [reagent "1.0.0-alpha2"]
  [camel-snake-kebab "0.4.2"]]

 :dev-http {3000 "public"}
 :nrepl {:port 3333}
 :builds
 {:dev {:target :browser
        :output-dir "public/js"
        :asset-path "/js"
        :compiler-options {:devcards :true
                           :output-feature-set :es6}
        :modules {:main {:init-fn example.core/init}}
        :js-options {:resolve {"devcards-marked" {:target :npm :require "marked"}
                               "devcards-syntax-highlighter" {:target :npm :require "highlight.js"}}}}
  :test {:target :node-test
         :output-to "out/node-tests.js"
         :ns-regexp "-test$"
         :autorun false}
  :test-autorun {:target :node-test
                 :output-to "out/node-tests.js"
                 :ns-regexp "-test$"
                 :autorun true}
  :npm {
       ;;  :target :npm-module
        :target :node-library
       ;;  :runtime :browser
        :output-dir "dist/js"
        :output-to "dist/js/homebase.react.js"
       ;;  :entries [homebase.react]
        :exports {:Entity homebase.js/Entity
                  :HomebaseProvider homebase.react/HomebaseProvider
                  :useClient homebase.react/useClient
                  :useEntity homebase.react/useEntity
                  :useQuery homebase.react/useQuery
                  :useTransact homebase.react/useTransact}
       ;;  :js-options {:js-provider :shadow}
        :compiler-options {:optimizations :advanced
                     ;;       :target :nodejs

                           :pretty-print  true
                     ;;       :pseudo-names true
                     ;;       :recompile-dependents true
                     ;;       :parallel-build true
                     ;;       :checked-arrays :warn
                     ;;       :infer-externs true
                           
                     ;;       :ups-externs   ["datascript/externs.js"]
                           ;:optimizations :whitespace

                     ;;       :output-wrapper true
                     ;;       :rename-prefix-namespace "HBR"
                     ;;       :source-map true
                           }}}}
