{:cljdoc.doc/tree
 [["Introduction" {:file "doc/README.md"}]
  ["Examples" {:file "doc/examples.md"}]
  ["API" {:file "doc/api.md"}]
  ["Misc" {}
   ["Tooling / Debugging" {:file "doc/tooling_debugging.md"}]
   ["Performance" {:file "doc/performance.md"}]
   ["Contribution" {:file "doc/contribution.md"}]
   ["FAQ" {:file "doc/faq.md"}]]]}