name: CI

on: push

jobs:
  test:
    name: Test
    strategy:
      matrix:
        os: [ubuntu-18.04]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: '12'

      - uses: actions/setup-java@v1
        with:
          java-version: 1.8
          
      - uses: DeLaGuardo/setup-clojure@3.2
        with:
          cli: 1.10.1.693

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn config get cacheFolder)"

      - name: Cache yarn packages
        uses: actions/cache@v2
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Cache maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Cache shadow-cljs
        uses: actions/cache@v2
        with:
          path: .shadow-cljs
          key: ${{ runner.os }}-shadow-cljs-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-shadow-cljs

      - run: yarn install --frozen-lockfile

      - run: yarn shadow-cljs release npm
      - run: yarn bundle-ts
      - run: yarn shadow-cljs compile test

      - run: node out/node-tests.js
      - run: yarn jest src/*
      - run: yarn tsd
